<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @makeurl.num %>
</p>

<p>
  <strong>Url:</strong>
  <%= @makeurl.url %>
</p>

<%= link_to 'Edit', edit_makeurl_path(@makeurl) %> |
<%= link_to 'Back', makeurls_path %>
